@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100&family=Work+Sans:ital,wght@0,100;0,300;0,400;1,100&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Work Sans, sans-serif;
    margin: 0;
    min-height: 3000px;
    background-repeat: no-repeat;
    background-image: url('img/bgfull.png');
    background-size: 100%;
    background-color: #5a3a7b;
}



header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;    
    background-color: transparent;
}

header .soc-med a img {
    height: 2em;
    padding-left: 15px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin: 10px;
}

li a{
    color: black;
    padding-bottom: 0.3em;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    transition: border-bottom 0.3s ease-in-out, font-weight 0.2s ease-out;
}

li a:hover {
    border-bottom: 2px solid #000;
    font-weight: 700;
}
