@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700;800;900&family=Poppins:ital,wght@0,100;0,400;0,700;1,100&family=Work+Sans:ital,wght@0,100;0,300;0,400;1,100&display=swap');



* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Nunito, sans-serif;
    margin: 0;
    background-repeat: no-repeat;
    background-image: url('img/bgfull.png');
    background-size: 100%;
    background-color: #5a3a7b;
}



header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: auto;
    padding: 15px;
    width: 100%;
    z-index: 2;
    background-color: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin: 10px;
}

li a {
    color: black;
    padding-bottom: 0.3em;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    transition: border-bottom 0.3s ease-in-out, font-weight 0.2s ease-out;
}

li a:hover {
    border-bottom: 2px solid #000;
    font-weight: 700;
}

section {
    padding-top: 5em;
}

#home h1 {
    color: #000000ce;
    text-align: justify;
    font-size: 3.5em;
    font-family: Nunito, sans-serif;
    margin-left: 1.1em;
    margin-top: .2em;
    font-weight: 800;
    margin-bottom: 0;
    padding-bottom: 0;
}


#home p {
    color: #000000ce;
    font-family: inherit;
    margin-top: 0;
    margin-left: 5.2em;
    font-weight: 400;
    font-style: italic;
}

#home h2 {
    color: #000000ce;
    text-align: center;
    text-transform: capitalize;
    margin-top: 10em;
    font-size: 1.2em;
    font-family: Nunito, sans-serif;
}

.arrow {
    position: absolute;
    top: 50;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 2px solid #000000ce;
    border-radius: 100%;
    box-sizing: border-box;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.arrow::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 2px solid #000000ce;
    border-bottom: 2px solid #000000ce;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.bounce {
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}


#videos {
    margin-top: 5em;
}

#videos h1 {
    color: #000000ce;
    text-align: center;
    text-transform: capitalize;
    font-size: 2.2em;
    font-family: Nunito, sans-serif;
    font-weight: 800;
}

#videos .container {
    position: relative;
    overflow: hidden;
    margin: auto;
    width: 75%;
    padding-top: 37.5%;
}

#videos .responsive {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#contact h1 {
    color: #000000ce;
    text-align: center;
    text-transform: capitalize;
    font-size: 2.2em;
    font-family: Nunito, sans-serif;
    font-weight: 800;
}

#contact .container {
    margin: 1.2em auto;
    padding: .7em 2em;
    width: 50%;
    /* box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.25);
    border-radius: 8px; */
}

#contact label {
    color: #000000ce;
    display: block;
    font-family: Nunito, sans-serif;
    margin-bottom: 2em;
    font-size: 1.1em;
    font-weight: 800;
}

#contact input {
    color: #000000ce;
    padding: .5em .5em;
    display: block;
    font-family: Nunito, sans-serif;
    font-size: .8em;
    font-weight: 700;
    width: 100%;
    height: 1.2em;
    border: none;
    background-color: #5a3a7b;
}

::placeholder {
    color: #242424;
}

#contact input:focus {
    outline: none;
    /* background-color: #252425; */
}

#contact fieldset {
    margin: 0;
    padding: 10px 5px;
    border: 2px solid #813ed1;
}

#contact fieldset:focus-within {
    border-color: #915ec7;
    box-shadow: 0 0 10px #915ec7;
    /* background-color: #252425; */
}

#contact button {
    color: #000000ce;
    display: block;
    font-family: inherit;
    font-weight: 800;
    width: 30%;
    height: 2.5em;
    border-radius: 6px;
    border: none;
    background-color: #813ed1;
    margin: 0 auto;
    cursor: pointer;
}

footer {
    color: #000000ce;
    background-color: #915ec7;
    padding-top: 2em;
    padding-bottom: .5em;
    text-align: center;
    font-weight: 500;
}

footer img {
    display: block;
    margin: auto;
}

footer a {
    text-decoration: none;
    color: #000000ce;
}

@media screen and (max-width: 576px) {
    #home h1 {
        margin-top: 2.5em;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    #home p {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        font-size: 1.15em;
    }

    nav ul {
        display: none;
    }

    header {
        justify-content: center;
        backdrop-filter: none;
    }

    section {
        padding-top: 1em;
    }

    #home h2 {
        text-align: center;
        margin-top: 8em;
    }

    #videos h1 {
        font-size: 2em;
    }

    #contact h1 {
        font-size: 2em;
    }

    #contact .container {
        width: 100%;
    }
}